@import './base.css';

h2 {
  font-size: 2em;
  line-height: 1.8em;
  margin: 0;
  font-weight: 370;
}

h3 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 300;
}

.row {
  display: flex;
}

.row > .column:first-of-type {
  padding-left: 0;
}
.row > .column {
  padding-left: 30px;
  padding-bottom: 30px;
  flex: 10000 1 0%;
}

.q-field textarea {
  margin-top: 6px;
}

.row > .equalInput {
  flex: 1;
}

.row > .equalInput:nth-child(odd) {
  margin-right: 8px;
}
.row > .equalInput:nth-child(even) {
  margin-left: 8px;
}

.my-card {
  width: 100%;
  max-width: 250px;
  text-align: center;
  cursor: pointer;
}

.my-card .q-icon {
  font-size: 30px;
  margin-bottom: 12px;
}

.my-card:first-of-type {
  margin-left: 0;
}

.my-card.selected {
  background-color: #1987a0;
  box-sizing: border-box;
  color: #fff;
}

.validationError {
  color: var(--q-negative);
}

.pill {
  border-radius: 20px;  
  border: 1px solid #bfbfbf;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
.pill:hover{
  background-color: #eeeeee;
}

.appointmentSelector {
  max-width: 380px;
}
.appointmentSelector label {
  display: block;
  padding-bottom: 12px;
  color: #747474;
  font-size: 17px;
}
.monthNavigation {
  padding-bottom: 12px;
  display: flex;
}
.monthNavigation > span {
  font-weight: bold;
  flex: 1;
  font-size: 20px;
}
.monthNavigation .nav i {
  font-size: 24px;
  color: #747474;
}
.month {
  display: flex;
  padding-bottom: 16px;
  overflow: scroll;
}
.month .day {
  padding: 12px 0;
  margin: 0 5px;
  min-width: 32px;
}
.month .day:first-of-type {
  margin-left: 0;
}
.month .day > span {
  display: block;
}
.month .day > span.weekday {
  font-size: 10px;
  font-weight: bold;
}
.day .appointment {
  width: 90px;
  padding: 5px 0;
  color: #535353;
  margin-bottom: 6px;
}

@media only screen and (max-width: 600px) {
  .row {
    display: block;
  }
  .row > .column {
    padding-left: 0;
  }

  .row > .equalInput:nth-child(odd) {
    margin-right: 0;
  }
  .row > .equalInput:nth-child(even) {
    margin-left: 0;
  }
}
